<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dealkar1-deployment-slot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dealkar1-deployment-slot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dealkar1__deployment-slot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dealkar1__deployment-slot</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=dealkar1.database.windows.net;Initial Catalog=dealkardb;Persist Security Info=False;User ID=irfanyusanif;Password=birthday2Wish;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:dealkar1.database.windows.net,1433;Data Source=dealkar1.database.windows.net;Initial Catalog=dealkardb;Persist Security Info=False;User ID=irfanyusanif;Password=birthday2Wish;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Inspinia_MVC5_SeedProject.Models.ApplicationDbContext, Inspinia_MVC5_SeedProject" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=dealkar1.database.windows.net;Initial Catalog=dealkardb;Persist Security Info=False;User ID=irfanyusanif;Password=birthday2Wish;Pooling=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:dealkar1.database.windows.net,1433;Data Source=dealkar1.database.windows.net;Initial Catalog=dealkardb;Persist Security Info=False;User ID=irfanyusanif;Password=birthday2Wish;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Inspinia_MVC5_SeedProject.Models.Entities, Inspinia_MVC5_SeedProject" MigrationConfiguration="Inspinia_MVC5_SeedProject.Migrations.Configuration, Inspinia_MVC5_SeedProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:dealkar1.database.windows.net,1433;Data Source=dealkar1.database.windows.net;Initial Catalog=dealkardb;Persist Security Info=False;User ID=irfanyusanif;Password=birthday2Wish;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:dealkar1.database.windows.net,1433;Data Source=dealkar1.database.windows.net;Initial Catalog=dealkardb;Persist Security Info=False;User ID=irfanyusanif;Password=birthday2Wish;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>